<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <link href='https://fonts.googleapis.com/css?family=Kameron' rel='stylesheet'>
    <title>Admin Page</title>
  </head>

  <body>
    <header><h2>Salon</h2></header>
    <main>
        <div id="left">
          <div class="subContainer">
            <div class="heading" id="servicesHeader">Services</div>

            <div class="list">
              <div id="services" >
                  <div class="service">sample</div>
                  <div class="service">sample</div>
              </div>

              <div id="inputContainer">
                <label for="newService">Add a Service</label>
                <input type='text' id="newService" name="newService"> 
              </div>
            </div>
          </div>
        </div>

        <div id="right">
          <div class="subContainer">
            <div id="selectDateContainer">
                <div class="heading">Appointments:</div>

                <div>
                  <label for="date">Select Date</label>
                  <input type="date" id="date" name="date">
                </div>
            </div>

            <div id="appointments" class="list">
              <div class="service">10:00 - 11:00</div>
              <div class="service">11:00 - 12:00</div>
            </div>
          </div>
        </div>
    </main>
  </body>
</html>
