<!DOCTYPE html>
<html>
    <head>
        <title>
            Book an Appointment
        </title>
        <link rel="stylesheet" href="/css/appointment.css">
        <link href='https://fonts.googleapis.com/css?family=Kameron' rel='stylesheet'>
        <script src="/js/appointment.js" defer></script>
    </head>
    <body>
        <div class="form-outer-box">
            <nav>
                <a href="/static/welcome">Back</a>
            </nav>

            <h1>ENTER APPOINTMENT DETAILS</h1>

            <div id="search">
                <input type="text" id="searchBar" placeholder="Search for a store">
                <div id="searchResults">
                </div>
            </div>

            <div class="form-inner-box">
                <label class="form-text">Selected Store</label><br>
                <input id="selectedSalon" disabled></input>
            </div>
            
            <div class="form-inner-box">
                <form>
                    <label class="form-text" for="customer-name">Name</label><br>
                    <input type="text" id="name" name="customer-name" placeholder="Enter your name"><br><br>

                    <label class="form-text" for="customer-num">Phone</label><br>
                    <input type="tel" id="tel" name="customer-num" placeholder="Enter your phone"><br><br>

                    <label class="form-text" for="customer-date">Date</label><br>
                    <input type="date" id="date" name="customer-date"><br><br>

                    <label class="form-text" for="customer-time">Time</label><br>
                    <input type="time" id="time" name="customer-time"><br><br>

                    <label class="form-text" for="customer-service">Type of Service</label><br>
                    <select id="customer-service" name="options">
                        <option value="service1">Service 1</option>
                        <option value="service2">Service 2</option>
                        <option value="service3">Service 3</option>
                    </select>
                    <br><br>
                    <input class="submit-button" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>