<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/tailwind.css">
        <link rel="stylesheet" href="/css/login.css">
        <script src="/js/login.js" defer></script>
        <script src="/js/test_translate.js" defer></script>
        <script async type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </head>
    <body>
        <nav class="flex justify-end space-x-10">
            <div id="google-container" class="w-20">
                <div  id="google_translate_element"></div>
            </div>
            <a href="/static/welcome" class="text-white hover:text-black">Book An Appointment</a>
        </nav>

        <div class="center">
            <h1>Login</h1>
            <form id="logForm">
                <div class="txt_field">
                    <input id="l_username" type="text" name="username" class= "colorful-textbox" required>
                    <label>Username</label>
                </div>

                <div class="txt_field">
                    <input id="l_password" type="password" name="password" class= "colorful-textbox" required>
                    <label>Password</label>
                </div>

                {{!-- <div class="pass">Forgot Password?</div> --}}

                <input class="submitBtn" id="loginBtn" type="submit" value="Login">
                <p class="error" id="l_error" hidden>Incorrect Login Details</p>

                <div class="signup_link">
                    Not a member? <a href="/static/register">Signup</a>
                </div>
            </form>
        </div>
    </body>
</html>