<!DOCTYPE html>
<html>
    <head>
        <title>Register Store</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/tailwind.css">
        <link rel="stylesheet" href="/css/login.css">
        <script src="/js/register.js" defer></script>
    </head>
    <body>
        <nav> 
            <a href="/static/welcome">Book An Appointment</a>
        </nav>

        <div class="center">
            <h1>Register Store</h1>
            <form id="regForm">
                <div class="txt_field">
                    <input id="storeName" type="text" name="storeName" required>
                    <label>Store Name (this will also serve as the username)</label>
                </div>

                <div class="txt_field">
                    <input id="password" type="password" name="password" required>
                    <label>Password</label>
                </div>
                
                <div class="txt_field">
                    <input id="email" type="email" name="email" required>
                    <label>Email</label>
                </div>
            
                <input id="sendCode" type="button" value="Send Code">

                <div class="txt_field">
                    <input id="codeVerify" name="sentCode" required>
                    <label>Code</label>
                </div>

                <input id="testingMatch" type="button" value="(Test) Captcha Match?">
                <br>
                {{!-- <div class="pass">Forgot Password?</div> --}}

                <input class="submitBtn" id="regBtn" type="submit" value="Register">

                <p class="error" id="r_error" hidden>Store name already exists, choose another.</p>

                <div class="signup_link">
                    Already registered? <a href="/static/login">Login</a>
                </div>
            </form>
        </div>
    </body>
</html>