<!DOCTYPE html>
<html>
    <head>
        <title>Register Store</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <nav>
            <a href="/static/welcome">Book An Appointment</a>
        </nav>

        <div class="center">
            <h1>Register Store</h1>
            <form id="loginForm" name="loginForm" action="/login" method="post">
                <div class="txt_field">
                    <input id="username" type="text" name="username" required>
                    <label>Username</label>
                </div>

                <div class="txt_field">
                    <input id="password" type="password" name="password" required>
                    <label>Password</label>
                </div>
                
                <div class="txt_field">
                    <input id="storeName" type="text" name="storeName" required>
                    <label>Name of Store</label>
                </div>

                <div class="pass">Forgot Password?</div>

                <input class="submitBtn" id="loginBtn" type="submit" value="Register">
                <p class="error" id="l_error">  </p>
                <div class="signup_link">
                    Already registered? <a href="/static/login">Login</a>
                </div>
            </form>
        </div>
    </body>
</html>