<!DOCTYPE html>
<html>
    <head>
        <title>
            Welcome
        </title>
        <link rel="stylesheet" href="/css/welcome.css">
        <link href='https://fonts.googleapis.com/css?family=Kameron' rel='stylesheet'>
    </head>
    <body>
        <nav>
            <a href="/static/login">Admin Login</a>
        </nav>
        <div class="welcome-container">
            <h1 class="welcome-text">APPOINTMENT BOOKING AND MANAGEMENT</h1>
            <h4 class="sample-text">Sample text.</h4>
            <br><br>

            <a href="/static/appointment">
                <div class="appointment-button" id="buttons">
                    <h3 class="appointment-text"id="button-text">BOOK AN APPOINTMENT</h3>
                </div>
            </a>
        </div>
    </body>
</html>