<!DOCTYPE html>
<html>
    <head>
        <title>
            Welcome
        </title>
        <script src="https://cdn.tailwindcss.com"></script>
        
        <link rel="stylesheet" href="/css/tailwind.css">
        <link rel="stylesheet" href="/css/welcome.css">
        <link rel="stylesheet" href="/output.css">
        
        <link href='https://fonts.googleapis.com/css?family=Kameron' rel='stylesheet'>
        <script src="/js/test_translate.js" defer></script>
        <script async type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    </head>
    <body>
        <nav class="flex justify-end space-x-10">
            <div id="google-container" class="w-20">
                <div  id="google_translate_element"></div>
            </div>
            <a href="/static/login" class="text-white hover:text-black">Admin Login</a>
        </nav>
      
        <div class="welcome-container">
               <h1 class="welcome-text">Book an appointment today!</h1>
               <h2>Where your hair journey starts, your dream hair awaits!</h2>
            <br><br>

            <a href="/static/appointment">
                <div class="appointment-button" id="buttons">
                    <h3 class="appointment-text" id="button-text">BOOK AN APPOINTMENT</h3>
                </div>
            </a>

        {{!-- <div class="fixed bottom-0 right-0 m-20 flex flex-row justify-center items-center gap-10">
            <div class="bg-brown-500 text-black px-4 py-2 rounded-lg cursor-pointer hover:bg-light-orange hover:text-black transition">
                <div class="group">
                    <p class="group-hover:text-black">English</p>
                </div>
            </div>
            <div class="bg-brown-500 text-black px-4 py-2 rounded-lg cursor-pointer hover:bg-light-orange hover:text-black transition">
                <div class="group">
                    <p class="group-hover:text-black">한국인</p>
                </div>
            </div>
        </div> --}}


        </div>
    </body>
</html>
