@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Kameron',sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #e8d2ae;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  overflow-y: auto; /* Add vertical scroll */
}



nav {
  padding: 1em;
  font-size: 24px;
  background-color:#796465;
  border-bottom: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

nav > a {
  color: white;
  display: block;
  text-align: right;
}

nav > a:hover {
  color: black;
  display: block;
  text-align: right;
}
/* a {
  text-decoration:none;
  color: white;
} */

header {
  text-align: center;
  font-size: 2em;
}

main {
  display: flex;
  padding-left: 0.5em;
  padding-left: 0.5em;
}

#left {
  width: 45%;
  padding: 1em;
}

#inputContainer {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

#pendings, #nonpendings {
  width: 55%;
}

.heading {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.list {
  background-color: #d7b29d;
  border-radius: 0.5em;
  padding: 0.6em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.service {
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  font-size: 1.3em;
  font-weight: bold;
}

.subContainer {
  width: 85%;
  margin: auto;
  margin-bottom: 1.5em;
}

.selectDateContainer {
  display: flex;
  justify-content: space-between;
}


.appointmentContainer {
  background-color: #796465;
  text-align: left;
  color: white;
  padding: 0.5em;
  border-color: black;
  border-width: thin;
  border-style: solid;
}
.store-button{
  border-radius: 35px;
  background-color: #796465;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 1em;
}

.store-button:hover, .searchResult:hover {
  background-color: #dde9b9;
  cursor: pointer;
  color:black;
}

.colorful-textbox {
  background-color: #cb9589; 
  color: #796465; 
  padding: 10px; 
  border: none; 
  border-radius: 5px; 
  width: 100%; 
  box-sizing: border-box; 
}


.colorful-textbox:hover {
  background-color: #e8d2ae; 
}

.colorful-date-input {
  background-color: #cb9589; 
  color: #796465; 
  padding: 10px; 
  border: none; 
  border-radius: 5px; 
  width: 100%; 
  box-sizing: border-box; 
}


.colorful-date-input::-webkit-calendar-picker-indicator {
  filter: invert(1); 
}


.colorful-date-input::-webkit-calendar-drop-indicator {
  color: #cb9589; }

.deleteAptmntBtn {
  margin-bottom: 1em;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background-color: #e8d2ae;
  max-width: 75%;
  color: black;
}

.deleteAptmntBtn:hover {
  cursor: pointer;
  background-color: #dde9b9;
}

#confirmMsg, #editConfirmMsg, #confirmDaysMsg {
  margin-top: 1rem;
  margin-bottom: 0px;

  font-style: italic;
  color: green;
  font-size: 1rem;

  text-align: center;
}

.noAppointments {
  font-size: 1em;
  font-weight: bold;
}