body {
    font-family: 'Kameron',sans-serif;
    background-color: #e8d2ae;
}

nav {
    padding: 1em;
    font-size: 24px;
}

nav > a {
    color: black;
    display: block;
    text-align: right;
    text-decoration: none;
}

input,select,textarea{
    font-family: 'Kameron',sans-serif;
    font-size: 25px;
    width: 90%;
}

h1{
    font-size: 50px;
}

.form-outer-box{
    display:flex;
    flex-direction: column;
    margin-left: 30px;
}

.form-inner-box{
    background-color: #d7b29d;
    padding: 30px;
    width: 30%;
}

.form-text{
    font-weight: bold;
}

.submit-button{
    border-radius: 35px;
    background-color: #796465;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover{
    background-color: #d7b29d;
    cursor: pointer;
    color:black;
}
