@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Kameron',sans-serif;
    background-color: #e8d2ae;
}

nav {
    padding: 1em;
    font-size: 24px;
    background-color:#796465;
    border-bottom: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
}

nav > a {
    color: white;
    display: block;
    text-align: right;
    text-decoration: none;
}

input,select,textarea{
    font-family: 'Kameron',sans-serif;
    font-size: 25px;
    width: 90%;
}

h1{
    font-size: 50px;
}

#search {
    border-radius: 15px;
    margin-top: 0.5em;
    width: 70%;
}

#searchBar {
    width: 100%;
}


#selectedSalonContainer > input {
    background-color: white;
}


#calendar-container {
    /* display: flex;
    justify-content:center;
    align-items: center;
    width:0%;
    border-radius: 0.5em;
    float:left; */
    /* display:inline-bloack; */
    background-color: #d7b29d;
    border-radius: 10px;
    margin-top: 1em; /* Set the height to 100% of the viewport height */
    margin-left: 7em;
  }

#calendar-bar {
    display: flex;
    justify-content: space-between;
    background-color: #d7b29d;
    padding: 10px;
    border-radius: 10px;
    
  }
  
  #day {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 5px; 
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  #day:hover {
    background-color: #ddd; 
  }

.form-outer-box{
    display:flex;
    flex-direction: column;
    margin-left: 15rem;
    margin-top: 1.5em;
}

.form-inner-box{
    background-color: #d7b29d;
    padding: 30px;
    width: 100%;
    border-radius: 0.5em;
    margin-top: 1em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}

.form-text{
    font-weight: bold;
}

.submit-button{
    border-radius: 35px;
    background-color: #796465;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 1em;
}

.submit-button:hover, .searchResult:hover {
    background-color: #dde9b9;
    cursor: pointer;
    color:black;
}

.searchResult {
    background-color: white;
    padding: 0.3em;
}

.error {
    margin-top: 1rem;
    margin-bottom: 0px;

    font-style: italic;
    color: red;
    font-size: 1rem;

    text-align: center;
}

.confirm {
    margin-top: 1rem;
    margin-bottom: 0px;

    font-style: italic;
    color: green;
    font-size: 1rem;

    text-align: center;
}

#appointment-container{
    display:flex;
    flex-direction:row;
    width: 66%;
}
#left-side{
    display:flex;
    flex-direction:column;
    
}

#right-side{
    display: flex;
    flex-direction:column;
    width: 100%;
}

#schedule-container{
    display: flex;
    flex-direction: column;
    background-color: #d7b29d;
    padding: 10px;
    border-radius: 10px;
    margin-top: 1em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-left: 3.5em;
    height: 100%;
}
#schedule-container > h3{
    display:none;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#schedule-container > #sched-desc{
    margin-left: 1em;
    background-color: #796465;
    background-color: hsl(20, 17%, 50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-bottom: black solid 1px;
    height:50px;
    padding:10px;
}


#schedule-container > #sched-desc > option{
    color: white;
    background-color: #796465;
    background-color: hsl(20, 17%, 50%);
}

.goog-te-banner-frame {
    display: none;
    margin-top: -20px;
  }
  
.goog-logo-link {
    display:none !important;
}
  
.goog-te-gadget{
    color: white !important;
}

.goog-te-combo{
    background-color: #cb8589;
    padding: 10px;
    border: 2px solid black;
    font-weight: bold;
}
