
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Kameron',sans-serif;
    background-color: #e8d2ae;
    
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://gcdnb.pbrd.co/images/t5YZWR93ugB8.png?o=1');
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    opacity: 0.65; 
    z-index: -1; 
}



a {
    text-decoration:none;
}

nav {
    padding: 1em;
    font-size: 24px;
    background-color:#796465;
    border-bottom: 1px solid black;
}

nav > a {
    color: black;
    display: block;
    text-align: right;
}

.welcome-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:  75px;
}

.welcome-text{
    font-size: 65px;
    font-weight: bolder;
}

.lang-button, .appointment-button{
    border-radius: 35px;
    background-color: #796465;
    padding: 10px;
    border: 2px solid black;
}

.lang-text, .appointment-text{
    font-size: 15px;
    color: white;
}

#buttons:hover{
    background-color: #d7b29d;
    cursor: pointer;
}

#buttons:hover #button-text{
    color:black;
}

.language-buttons {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.goog-te-banner-frame {
    display: none;
    margin-top: -20px;
  }
  
.goog-logo-link {
    display:none !important;
}
  
.goog-te-gadget{
    color: black !important;
}


.w-20{
    padding-right: 200px;
}
