
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Kameron',sans-serif;
    background-color: #e8d2ae;
   
}

a {
    text-decoration:none;
}

nav {
    padding: 1em;
    font-size: 24px;
    background-color:#796465;
    border-bottom: 1px solid black;
}

nav > a {
    color: black;
    display: block;
    text-align: right;
}

.welcome-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:  75px;
}

.welcome-text{
    font-size: 65px;
}

.lang-button, .appointment-button{
    border-radius: 35px;
    background-color: #796465;
    padding: 10px;
    border: 2px solid black;
}

.lang-text, .appointment-text{
    font-size: 15px;
    color: white;
}

#buttons:hover{
    background-color: #d7b29d;
    cursor: pointer;
}

#buttons:hover #button-text{
    color:black;
}

.language-buttons {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.goog-te-menu-value span,
.goog-te-menu-value span:before {
  font-size: 8px; 
}


.goog-te-menu-frame.skiptranslate,
.goog-te-menu-frame.skiptranslate iframe {
  max-width: 200px; 
}
