body {
    font-family: 'Kameron',sans-serif;
    background-color: #e8d2ae;
}

a {
    text-decoration:none;
}

nav {
    padding: 1em;
    font-size: 24px;
}

nav > a {
    color: black;
    display: block;
    text-align: right;
}

.welcome-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:  75px;
}

.welcome-text{
    font-size: 65px;
}

.services-button, .appointment-button{
    border-radius: 35px;
    background-color: #796465;
    padding: 10px;
    border: 2px solid black;
}

.services-text, .appointment-text{
    font-size: 15px;
    color: white;
}

#buttons:hover{
    background-color: #d7b29d;
    cursor: pointer;
}

#buttons:hover #button-text{
    color:black;
}

